html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

#main-nav {
    background-color: transparent;
}

section {
    height: 100vh;
}

#home {
    background: url(/IMAGES/IMG_20221217_220704_865.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}

.custom-col {
    margin-top: 25px;
}

i {
    color: black;
}

img {
    filter: none;
}

.img-hero {
    height: auto;
}

.spacing {
    margin-top: 10%;
}

.card-icon {
    font-size: 3rem;
}

.block {
    height: .3rem;
    width: 6rem;
    background-color: black;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2rem;
    opacity: 0.5;
}

#images {
    height: 250px;
    width: 350px;
}

.list {
    list-style: none;
}

.list li{
    padding: 5px;
}
.list li i{
    margin-left: 10px;
}
.list li a{
    color: black;
}
